.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $colors.darkgray;
  color: white;
}

.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-code,
.hljs-emphasis {
  font-style: italic;
}


.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-selector-class,
.hljs-function {
  color: $colors.lightgray;
}

.hljs-string,
.hljs-bullet {
  color: $colors.green;
}


.hljs-title,
.hljs-function-name
  color: $colors.blue;
[class='foo'] {
  fuck me
}


.hljs-hexcolor,
.hljs-character,
.hljs-period .hljs-class
  color: $colors.teal;

.hljs-built_in,
.hljs-class
  color: $colors.purple;

.hljs-number,
.hljs-symbol,
.hljs-literal,
.hljs-type,
.hljs-bullet,
.hljs-params {
  color: $colors.orange;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-attr_selector {
  color: $colors.red;
}

.hljs-comment,
.hljs-deletion,
.hljs-code,
.hljs-section,
.hljs-quote,
.hljs-builtin-name {
  color: $colors.gray;
}

.hljs-regexp,
.hljs-link {
  color: pink;
}

.hljs-meta {
  color: pink;
}

.hljs-deletion {
  background-color: red;
  color: black;
}

.hljs-addition {
  background-color: green;
  color: white;
}

.lang-css, .lang-stylus, .lang-scss, .lang-less
  .hljs-attribute
    color: $colors.yellow;

.lang-html
  .hljs-tag
    color: $colors.teal;

  .hljs-title
    color: $colors.red;

  .hljs-attribute
    color: $colors.purple;

  .hljs-value
    color: $colors.green;

.lang-js
  .hljs-function .hljs-keyword
    color: $colors.purple;


.hljs a {
  color: inherit;
}

.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
