.u-hide
  display none

.u-show
  display block

.slide-background.t-light
  background: lighten($colors.lightgray, 60%);

.u-parentheses
  list-style none outside none
  counter-reset list

  li:before
    content: counter(list, lower-alpha) ') ';
    counter-increment: list;
    margin-left: -0.75em;

a
  color: $colors.teal;
  &:hover, &:focus
    color: lighten($colors.teal, 20%);
  &:active
    color: darken($colors.teal, 20%);

button:focus
  outline none


section.has-light-background
  &, h1, h2, h3, h4, h5, h6
    color #222

h1, h2, h3, h4, h5, h6
  text-transform initial
  code:not(.hljs)
    line-height 1.2em
    position relative
    top -0.15em



pre
  width auto

  code
    max-height 600px

code:not(.hljs)
  font 0.75em/1.45em 'Source Code Pro'
  display inline-block
  color: $colors.red;
  background-color: rgba(lighten($colors.red, 80%), 0.9);
  border-radius 0.15em
  padding 0 0.15em
  white-space pre-wrap

table
  border-collapse collapse
  margin auto
  border-spacing 0px

  th, td
    text-align center
    padding 0.2em 0.5em
    border-bottom 1px solid

  th
    font-weight bold

  tr:last-child td
    border-bottom none

iframe
  width 100%

.c-iframe
  background white
  min-height 500px


.c-btn, [class^='c-btn--'], [class*=' c-btn--']
  background: $colors.teal;
  color white !important
  padding 10px
  font-size 0.8em

  + .c-btn,
  + [class^='c-btn--'],
  + [class*=' c-btn--']
    margin-left 10px

  &.is-active
    background: darken($colors.teal, 20%);


small
  display inline-block
  font-size 0.6em
  line-height 1.2em
  vertical-align top

.u-hide
  opacity 0
  position absolute
  height 0
  width 0
  top -1000em
  left -1000em
  white-space pre

body
  counter-reset extraneous

.slide-background.is-extraneous
  display block
  // opacity 0
  counter-increment extraneous
  $size = 100px
  &:after, &:before
    top 0
    right 0
    position absolute

  &:before
    border-left $size solid transparent
    border-top: $size solid $colors.teal;
    content ''
    height 0
    width 0

  &:after
    content counter(extraneous)
    padding 10px 20px 0 0
    text-align right




$groups = {
  'bem': $colors.red,
  'bootstrap': $colors.purple,
  'foundation': $colors.brown,
  'isotonix': $colors.orange,
  'inuit': $colors.blue,
  'pure': $colors.yellow,
  'uikit': $colors.green,
}

.c-specificity
  width 100%
  height 0
  padding-top 50%
  position relative
  font-size 0.25em
  margin-bottom 40px

  @media (min-width: 500px)
    font-size 1.3em

  @media (min-width: 700px)
    font-size .9em

  &__graph
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    display block
    font-family sans-serif
    height 100%
    width 100%

  .line-path
      fill none
      stroke: lighten($colors.teal, 10%);
      stroke-width 1px

  .group
    .line-path
      stroke inherit

    for $key, $val in $groups
      $val = darken($val, 10%)
      &--{$key}
        .line-path
          fill $val
          stroke $val
        .dots__dot
          fill lighten($val, 30%)
      /.reveal [data-type={$key}]
        background $val
        &:hover, &.is-active
          background lighten($val, 20%)

  .legend
    display none

  .axis
      opacity .6

  .tick
    display none
    font-size 0.35em

    text
      font-size 1em
      fill rgba(white, 0.85)

  .has-ticks .tick
    display block

  .domain
    fill white
    stroke white

  .domain-label
      font-size 0.5em
      margin-top 10px
      fill white

  .legend
    fill none
    font-size 0.5em

    text
      fill white

  .overlay
      fill none
      pointer-events all

  .info
    font-size 0.5em
    fill none

    &__item
      fill white

  .indicators
    &__point
      fill none
      stroke-width 1px
      stroke #0c0

      for $key, $val in $groups
        &--{$key}
          stroke white
          fill darken($val, 50%)

  .line-path.is-active
    animation dash 3s cubic-bezier(0.55, 0, 0.1, 1) forwards
    animation-delay 1s

    @keyframes dash
      to
        stroke-dashoffset 0