$colors = {
  'darkgray': #1b2b34,
  'gray': #65737e,
  'lightgray': #cdd3de,
  'teal': #5fb3b3,
  'red': #eb606b,
  'orange': #f99157,
  'yellow': #fac863,
  'green': #99c794,
  'blue': #6699cc,
  'purple': #c594c5,
  'brown': #ab7967
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor = $colors.darkgray

$mainColor = #fff
$headingColor = #fff

$mainFontSize = 38px
$mainFont = 'Source Sans Pro', Helvetica, sans-serif
$headingFont = 'Source Sans Pro', Helvetica, sans-serif
$headingTextShadow = none
$headingLetterSpacing = normal
$headingTextTransform = uppercase
$headingFontWeight = 600
$linkColor = $colors.teal
// $linkColor = blue;
$linkColorHover = lighten($linkColor, 15%)
$selectionBackgroundColor = lighten($linkColor, 25%)

$heading1Size = 2.5em
$heading2Size = 1.6em
$heading3Size = 1.3em
$heading4Size = 1.0em