section
  h1 Preprocessors
  ul
    li Less
    li Sass
    li Stylus
    li PostCSS

section
  h3 Less is cool and all but...
  p We need more power!

section
  h3 Sass/Stylus vs Less:
  ul
    li.fragment An actual language (<code>if</code>/<code>else</code>, <code>for</code>/<code>while</code>/<code>each</code> looping etc)
    li.fragment Write custom functions
    li.fragment: code @extends
    li.fragment Hash support

section
  h3 Stylus vs Sass
  ul
    li.fragment Cleaner syntax
    li.fragment Handles hashes better
    li.fragment Property lookups
    li.fragment File Globbing
    li.fragment Built on Node.js


section
  p @todo come back and update this with a new pen
  +codepen('GZyaLJ')
  
section
  p @todo come back and update this with a new pen
  +codepen('ZWvPvV')

  