section
  h3 Problems With Traditional CSS development
  ul
    li Specificity issues
    li Difficult to locate styles
    li Poor Context (What will break if this is modified?)
    li Difficult to maintain consistency

section
  h3 Good News!
  h1 It's Fixable!
  h3 But How?
