section
  h1 Methodologies:
  ul
    // - https://speakerdeck.com/dafed/managing-css-projects-with-itcss
    li.fragment: a(href='http://itcss.io/') ITCSS 
    li.fragment: a(href='https://smacss.com/', title="Scalable and Modular Architecture for CSS") SMACSS
    li.fragment: a(href='http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/') BEM
    li.fragment: a(href="https://github.com/tjbenton/highly-organized-css/blob/master/NAMESPACES.md") Namespacing