section
  :marked
    # IT CSS
    "Inverted Triangle" CSS
    Solves the problem of specificity.

section
  :marked
    @TODO look into [this](http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528) 

section
  :marked
    ### CSS Specificity
    
      - `important`
      - Inline `<style>` definitions
      - `#id`
      - attribute selector `[class*='awesome']`
      - `.class`
      - elements `p`
    
    for more indepth explanation see cssspecificity.com

section
  h3 Specificity chart
  p: code figure#mullet .is-awesome
  table
    tr
      th #id
      th .class
      th element (p)
    tr
      td 1
      td 1
      td 1

section
  h3 More-specific
  p: code figure#mullet.has-beard .is-awesome
  table
    tr
      th #id
      th .class
      th element (p)
    tr
      td 1
      td 2
      td 1

section
  h3 Less-specific
  p: code figure.has-shades.has-beard .is-awesome
  table
    tr
      th #id
      th .class
      th element (p)
    tr
      td 0
      td 3
      td 1

section
  h2 Now, back to IT CSS

section
  h2 Inverted Triangle CSS
  div
    img(src='lib/images/it-css.png', alt='IT CSS')
  small From <a href='csswizardry.com'>CSSWizardry</a> (Harry Roberts) 
    a(href='https://twitter.com/itcss_io') @itcss_io

section
  img(src='lib/images/normal-specificity.png', alt='Normal Specificity')
  p Normal CSS Specificity
  small From <a href='https://twitter.com/csswizardry'>@csswizardry</a> (Harry Roberts)

section
  img(src='lib/images/it-specificity.png', alt='Normal Specificity')
  p IT CSS Specificity
  small From <a href='https://twitter.com/csswizardry'>@csswizardry</a> (Harry Roberts)
  
section
  h3 How to structure CSS:
  ul
    li Elements & Vertical-Rhythm selectors
    li General Classes
    li Specific style overrides
    li Media Query Overrides

section
  h2 That's great!
  h3
    | But how do we
    b actually
    |  accomplish this?