section
  :marked
    # Folder Structure
    Organized site-level css
    Solves the problem of difficulty locating styles

section
  :marked
    ### Base Structure
      - `helpers/`
      - `base/`
      - `components/`
      - `objects/`
      - `utilities/`
      - `scopes/`
  p
    small Similar to SitePoint's Recommended Structure

section
  :marked
    ### helpers/
    Where preprocessor code lives.
    3 Primary sub-folders:
      - `variables/`
      - `functions/`
      - `mixins/`

section
  :marked
    ### Example Helpers File Structure
    ```
    helpers/
    all.scss
    variables.scss // site-level variables
    mixins/
    all.scss
    some-custom-mixin.scss
    functions/
    all.scss
    color.scss
    ```
section
  h3 base/
  p Where element-level css resides.
  p
    | Like
    code reset.css

section
  h3 Example Base File Structure
  pre.

section
  h3 components/
  p Where each component lives.
  p
    | ie:
    code .table
    |  or
    code .card

section
  h3 Example Component File Structure
  pre.

section
  h3 utilities/
  p Where util-level css lives.
  p
    | ie:
    code pull-left
    |  or
    code clearfix

section
  h3 Example Utilities File Structure
  pre.

section
  h3 scoped/
  p Where 
  section-specific site-level css lives.
  p
    | ie:
    code header
    |  or
    code sidebar

section
  h3 Example Scoped File Structure
  pre.

section
  | Now the main stlyesheet looks like this:
  pre.

section
  h2 Media Queries
  p
    | Use post-css
    code mqpacker
    |  to combine at bottom.