section
  h1 Writing Highly-Organized CSS
  h4 By: Tyler Benton
  ul 
    li.twitter
      b Twitter: 
      a(href="https://twitter.com/tjbenton21") @tjbenton21
    li.github
      b Github: 
      a(href="https://github.com/tjbenton") tjbenton21
