section
  h1 Writing Highly-Organized CSS
  h4 By: Tyler Benton
  ul 
    li.twitter
      b Twitter: 
      a(href="https://twitter.com/tjbenton21", target="_blank") @tjbenton21
    li.github
      b Github: 
      a(href="https://github.com/tjbenton", target="_blank") tjbenton21
    li
      b Examples:
      a(href="http://codepen.io/collection/XyJaVW", target="_blank") codepen.io/collection/XyJaVW
  