section
  :marked
    # IT CSS
    "Inverted Triangle" CSS
    
    Helps solve the problem of specificity.
    
    @TODO look into [this](http://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528) 

section
  h2 Inverted Triangle CSS
  div
    img(src='lib/images/it-css.png', alt='IT CSS')
  small From <a href='csswizardry.com'>CSSWizardry</a> (Harry Roberts) 
    a(href='https://twitter.com/itcss_io') @itcss_io

section
  img(src='lib/images/normal-specificity.png', alt='Normal Specificity')
  :marked
    Current state of most css stylesheets
    
    <small>From [@csswizardry](https://twitter.com/csswizardry) (Harry Roberts)</small>

section
  img(src='lib/images/it-specificity.png', alt='Normal Specificity')
  :marked
    What they should look like
    
    <small>From [@csswizardry](https://twitter.com/csswizardry) (Harry Roberts)</small>
  
section
  :marked
    # Structure CSS:
      1. Generic to explicit
      2. Low specificity to high specificity
      3. Far-reaching to localised

section
  h2 That's great!
  h3
    | But how do we
    b actually
    |  accomplish this?