section
  h1 Methodologies:
  ul
    // - https://speakerdeck.com/dafed/managing-css-projects-with-itcss
    li: a(href='http://itcss.io/') ITCSS 
    li: a(href='https://smacss.com/', title="Scalable and Modular Architecture for CSS") SMACSS
    li: a(href='http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/') BEM
    li: a(href="https://github.com/tjbenton/highly-organized-css/blob/master/NAMESPACES.md") Namespacing

section
  h1 Summary:
  ul
    li Generic to explicit
    li Low specificity to high specificity
    li Far-reaching to localised
    li Cascade/Organize in a logical way
