section(data-state='stuff')
  h1 Methodologies
  // - https://speakerdeck.com/dafed/managing-css-projects-with-itcss
  ul
    li.fragment
      a(href='http://itcss.io') ITCSS
      |  Inverted Triangle CSS
    li.fragment
      a(href='https://smacss.com') SMACSS
      |  Scalable and Modular Architecture for CSS
    li.fragment
      a(href='http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax') BEM
      |  Block Element Modifier
    li.fragment
      a(href='http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/') Namespacing
      |  Transparent UI Code with Namespaces
    
section
  h1 Summary
  ul
    li.fragment Generic to explicit
    li.fragment Low specificity to high specificity
    li.fragment Far-reaching to localised
    li.fragment Cascade/Organize in a logical way
