section
  h2 Other things you can do
  
  ul
    li.fragment Use 
      a(href='https://github.com/postcss/autoprefixer', target='_blank') Autoprefixer
    li.fragment combine media queries with 
      a(href='https://github.com/hail2u/node-css-mqpacker', target='_blank') css-mqpacker
    li.fragment Lint your code with 
      a(href='http://stylelint.io/' target='_blank') stylelint

section
  :marked
    # Questions?
