section
  :marked
    # Preprocessors
    
      - [Less](http://lesscss.org)
      - [Sass](http://sass-lang.com)
      - [Stylus](http://stylus-lang.com)
      - [PostCSS](http://postcss.org)
      
    For indepth info [csspre.com/compare](csspre.com/compare)

section
  :marked
    ### Stylus
    
    **Example:** [codepen.io/tjbenton21/pen/vGwRyQ](http://codepen.io/tjbenton21/pen/vGwRyQ)
      - Supports dot notation
      - callback functions
      - Existing Property lookups
      - Transparent mixins
      - Glob support (`@import '_*'`)
  
