section.t-light
  h1 Preprocessors
  
  img(src='lib/images/preprocessors.png', style="width: 60%; background: none; border: 0; box-shadow: none;")
      
  p For indepth info 
    a(href='http://csspre.com/compare', target="_blank") csspre.com/compare

section
  h3 Stylus
  b Example: 
    a(href='http://codepen.io/tjbenton21/pen/vGwRyQ', target="_blank") codepen.io/tjbenton21/pen/vGwRyQ
    ul
      li Supports dot notation
      li callback functions
      li Existing Property lookups
      li Transparent mixins
      li Glob support (<code>@import '_*'</code>)
  
