section
  :marked
    # Preprocessors
    
      - Less
      - Sass
      - Stylus
      - PostCSS
    
    For indepth info [csspre.com/compare](csspre.com/compare)

section
  h3 Stylus
  p <b>Example:</b> codepen.io/tjbenton21/pen/vGwRyQ
  ul
    li Supports dot notation
    li callback functions
    li Existing Property lookups
    li Transparent mixins
    li Glob support (<code>@import '_*'</code>)
  //- +codepen('vGwRyQ')
  
