section
  h2 What's wrong with traditional CSS development?
  ol
    li.fragment Specificity issues
    li.fragment Difficult to locate styles
    li.fragment Poor Context (What will break if this is modified?)
    li.fragment Difficult to maintain consistency

section
  h3 Good News!
  h1 It's Fixable!
  h3 But How?