section
  :marked
    # SMACSS <small>(pronounced "smacks")</small>
    Scalable & Modular Architecture for CSS [SMACSS.com](https://smacss.com/)
    
    Solves the problem of difficulty locating styles

section
  :marked
    ### Goals of SMACSS
      - Locate & organize styles quickly
      - Supports ITCSS
      - Context for styles
