section
  .c-specificity
    .c-specificity__top Specificity
    .c-specificity__side Location in Stylesheet
    img(class='c-specificity__img', src='lib/images/specificity-01.svg', alt='Normal Specificity')
    
  p Current state of most css stylesheets

section
  .c-specificity
    .c-specificity__top Specificity
    .c-specificity__side Location in Stylesheet
    img(class='c-specificity__img', src='lib/images/specificity-02.svg', alt='Normal Specificity')
  
  p What they should look like

section
  :marked
    ### CSS Specificity
    
      - `important`
      - Inline `<style>` definitions
      - `#id`
      - attribute selector `[class*='awesome']`
      - `.class`
      - elements `p`

section
  p: a(href="https://specificity.keegan.st") specificity.keegan.st
  iframe.c-iframe(data-src="https://specificity.keegan.st/")

section  
  .c-specificity
    svg.c-specificity__graph.js-graph
  
  each val, key in css_libs
    a.c-btn--primary.js-graph__toggle(data-type="#{key}") #{key}

  script!= 'var css_libs = ' + JSON.stringify(css_libs)
  script.
    var doc = document
    var on = document.add
    var graph
    
    doc.addEventListener('DOMContentLoaded', function() {
      var keys = Object.keys(css_libs)
      var toggles = [].slice.call(document.querySelectorAll('.js-graph__toggle'))
      graph = new SpecificityGraph({
        average: false,
        fill: true,
        dots: true,
        linetype: 'basis',
        ticks: true,
        order: 'y'
      })
      
      document.addEventListener('click', function(e) {
        var obj = e.target
        if (obj && obj.matches('.js-graph__toggle')) {
          var id = obj.dataset.type
          e.preventDefault()
          toggles.forEach(function(toggle) {
            toggle.classList.remove('is-active')
          })
          obj.classList.toggle('is-active')
          graph.toggle(id, css_libs[id])
          graph.draw()
        }
      })
    })

section.is-extraneous
  :marked
    - Give up `#id`s
    - Stop nesting selectors so deeply
    - Use a class based architecture
