section
  :marked
    # base
    
    ```bash
    app/lib/styles/base
    ├── defaults.styl // global defaults(box-sizing reset etc)
    ├── elements.styl
    ├── ...
    └── index.styl
    ```
  ul
    li.fragment Reset stylesheets(normalize.css)
    li.fragment Global defaults(`box-sizing` and anything that affects everything)
    li.fragment Element defaults(`ul`, `ol`, etc.)
    li.fragment Typography (`h1-h6`, `p`, etc.)
