section
  :marked
    ## `c-` Component
    
    A Concrete, standalone, implementation specific piece of UI.
    
    ie: c-card c-button
    
    ```bash
    app/lib/styles/components
    ├── _alerts.styl
    ├── _badges.styl
    ├── _buttons.styl
    ├── _cards.styl
    └── index.styl
    ```