section
  :marked
    ## `c-` Component
    
    format: `.c-component-name[<element>|<modifier>] { }`
    
    A Concrete, standalone, implementation specific piece of UI.
    
    ```bash
    app/lib/styles/components
    ├── _alerts.styl
    ├── _badges.styl
    ├── _buttons.styl
    ├── _cards.styl
    └── index.styl
    ```
    
section.t-light
  a(href='http://codepen.io/tjbenton21/pen/vOaXKM?editors=1100') codepen.io/tjbenton21/pen/vOaXKM
  
  div
    :marked
      ```scss
      .c-btn {
        ...
        &--primary {}
        &--secondary {}
        &--tertiary {}
        &--text {}
        &__badge {}
      }
      ```
  div.fragment
    :marked
      ```scss
      .c-card {
        &__image {}
        &__title {
          &--caption {}
        }
        &__content {}
        &__actions {}
      }
      ```
