section
  :marked
    ## Conditional Viewports

    format: `.[class]@<breakpoint> { }`

    Viewport suffixes help keep things consistent and our namespaces intact

section.t-light
  :marked
    ```stylus
    .u-show {
      display block !important /* all viewports */
      
      +media('>=md') {
        &{$media} {
          display block !important /* only the medium size viewport and up */
        }
      }
    }
    ```
  
  .fragment
    :marked
      ```css
      .u-show { ... } /* all viewports */

      @media (min-width: 768px) {
        .u-show\@md { ... } /* only the medium size viewport and up */
      }
      ```
  .fragment
    :marked
      ```html
      <div class="u-hide u-show@md"> ... </div>
      ```
