section
  :marked
    ## `d-` Development
    
    It's used to help in the development processes to add temporary classes to help with bugs.
    These classes will never make it to production code. 
    
    ```bash
    app/lib/styles/dev/
    ├── _media.styl
    ├── _namespaces.styl
    └── index.styl
    ```