section
  h2 
    code _- 
    | Hack
    
  p Used for hotfixes and shouldn't live forever. 
    
  p A spin off of 
    a(href='http://csswizardry.com/2013/04/shame-css', target='_blank') shame.css
    
  p ie: 
    code _-ie9-just-cant-focus 
    | or 
    code _-die-ie-die

//- There's no need for an example