section
  :marked
    ## `_-` Hack
    
    Used for hotfixes and shouldn't live forever. 
    
    A spin off of [shame.css](http://csswizardry.com/2013/04/shame-css)
    
    ie: `_-ie9-just-cant-focus` or `_-die-ie-die`

//- There's no need for an example