section
  h1 Organized site-level css
    
  p Solves the problem of difficulty locating styles
  
  ul
    li.fragment Generic to explicit
    li.fragment Low specificity to high specificity
    li.fragment Far-reaching to localised

section
  :marked
    ### Folder Structure
    
    ```bash
    app/lib/styles/
    ├── tools/
    ├── base/
    ├── objects/
    ├── components/
    ├── utilities/
    ├── scopes/
    ├── pages/
    ├── dev/
    └── index.styl
    ```

include tools
include base

section(style='font-size: 1.5em;')
  h1 Namespacing
  h4 Solves the problems of Context
  
  aside.notes
    ul 
      li Giving styles programmatic context.

include objects
include components
include utilities
include themes
include scopes
include states
include javascript
include conditional-viewports
include hack
include qa
include dev
include order
include benefits
