section
  //- Decouples JS and UI. 
  :marked
    ## `js-` Javascript
    
    Used to bind javascript to elements. 
    
    We should never have styling and behaviour bound to the same hooks, otherwise we can't have one without the other
    
    ie: **js-nav** or **js-modal**
