section
  :marked
    ## `js-` Javascript
    
    Used to bind javascript to elements.
    
    You should never have styling and behaviour bound to the same hooks, otherwise we can't have one without the other.

section
  :marked
    # Add examples of a js
    
    Should note why it's important to decouple the js
    
    ie: **js-nav** or **js-modal**
