section
  :marked
    ## `o-` Object
    
    format: `.o-object-name[<element>|<modifier>]{}`
    
    Purely structural aspects of a UI, that are repetitive, shared, and used in any number of unrelated contexts    
    
    ```bash
    app/lib/styles/objects
    ├── _grid.styl
    ├── _spacing.styl
    ├── _wrapper.styl
    └── index.styl
    ```

section
  :marked
    [codepen.io/tjbenton21/pen/jrbqWO](http://codepen.io/tjbenton21/pen/jrbqWO)
    
    ```stylus
    $spacing ?= 1.5em

    .o-wrapper {  
      padding-left $spacing
      padding-right $spacing

      &__full {
        padding-left 0
        padding-right 0
      }

      &__full, &__inverted {
        margin-left $spacing * -1
        margin-right $spacing * -1
      }

      &__inverted {
        padding-left $spacing
        padding-right $spacing
      } 
    }
    ```