section
  :marked
    ### objects
    
    @todo replace with description from docs
    
    ```bash
    app/lib/styles/objects
    ├── _grid.styl
    ├── _spacing.styl
    ├── _wrapper.styl
    └── index.styl
    ```

section
  :marked
    ## `o-` Object
    Abstract box-model only piece of UI. (Similar to component, but more reusable)
    ie: `.o-wrapper` or `.o-actions`
