section
  :marked
    ## `o-` Object
    
    @todo Add better description
    
    Abstract box-model only piece of UI. (Similar to component, but more reusable)
    
    ie: `.o-wrapper` or `.o-list`
    
    ```bash
    app/lib/styles/objects
    ├── _grid.styl
    ├── _spacing.styl
    ├── _wrapper.styl
    └── index.styl
    ```
