section
  :marked
    ## `p-` Pages
    Written specifically for a page/section of a site
    
    ```bash
    app/lib/styles/pages
    ├── checkout.styl
    ├── home.styl
    ├── my-account.styl
    └── search.styl
    ```
    
section.t-light
  :marked
    # Add examples of a page
    ie: **p-checkout** or **p-my-account**
