section
  p @todo decide if <code>p-</code> should be included or if <code>s-</code> is enough

section
  :marked
    ### pages
    
    @todo replace with description from docs

    ```bash
    app/lib/styles/pages
    ├── checkout.styl
    ├── home.styl
    ├── my-account.styl
    └── search.styl
    ```
    
section
  :marked
    ## `p-` page
    
    Specifically scoped to a page/section a site
    
    ie: **p-checkout** or **p-my-account**
