section
  :marked
    ### scoped
    
    Where section-specific site-level css lives.
    
    @todo replace with description from docs
    
    ```bash
    app/lib/styles/scopes
    ├── _content.styl
    ├── _footer.styl
    ├── _google-places.styl # Any scoped overrides for 3rd party vendors
    ├── _header.styl
    └── index.styl
    ```

section
  :marked
    ## `s-` Scoped
    
    Specifically scoped to a single section or page.
    
    ie: **s-coupon-table** or **s-purchase-requirements**
