section
  :marked
    ## `s-` Scoped
    
    New styling context or Scope. These should be used sparingly 
    because they can lead to poor CSS if not used wisely.
    
    ```bash
    app/lib/styles/scopes
    ├── _content.styl
    ├── _footer.styl
    ├── _google-places.styl # Any scoped overrides for 3rd party vendors
    ├── _header.styl
    └── index.styl
    ```

section
  :marked
    # Add examples of a scopes
    
    ie: **s-coupon-table** or **s-purchase-requirements**
