section
  :marked
    ### Namespaces can also delineate modifications
    (SMACSS Guideline)

section
  :marked
    ## `is-`/`has-` Modifier
    
    A temporary, optional or short-lived style
    
    ie: `.is-awesome` or `.has-mullet`
