section
  :marked
    ## `is-`/`has-` State
    
    - A short-lived style temporary states of the UI that need styling accordingly.
    - Never write a bare State class.
    - Bound to specific classes.

section
  :marked
    # Add examples of statefull classes
        
    ie: `.is-awesome` or `.has-mullet`
