section
  :marked
    ## `t-` Theme
    
    It lets us know that UI Components' current cosmetic appearance may be due to the presence of a theme.
    
    ```bash
    app/lib/styles/themes
    ├── _secondary.styl
    └── index.styl
    ```
    
section
  :marked
    # Add examples of a themes
    
    ie: `.t-chick-fil-a` or `.t-secondary`
