section
  :marked
    ### Preprocessor Tools
    
    Things that don't compile into css without being called/triggered
    
    ```html
    app/lib/styles/tools
    ├── functions/
    |   ├── ...
    │   └── index.styl
    ├── mixins/
    |   ├── ...
    │   └── index.styl
    ├── variables/
    |   ├── ...
    │   └── index.styl
    └── index.styl
    ```
