section
  :marked
    ### utilities
    
    @todo replace with description from docs
    
    ```bash
    app/lib/styles/utilities
    ├── _animations.styl
    ├── _clear.styl
    ├── _icons.styl
    ├── _reset.styl
    └── index.styl
    ```

section
  h2
    code u-
    |  Utility
  p A class with a single, specific, trustworthy role.
  p
    | ie:
    b u-pull-left
    |  or
    b u-hide
